.container {
  position: absolute;
  z-index: 800;
  top: 5%;
  height: 90vh;
  left: 0;
  right: 0;
  background-color: rgb(224, 224, 224);
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: grid;
  grid-template-rows: 50px 1fr;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 10px;
  place-items: center;
}

.list {
  list-style-type: none;
  width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 90%;
}

.btn_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row_Approved {
  background-color: rgb(79, 237, 95, 0.5);
}

.row_Rejected {
  background-color: rgb(252, 36, 36, 0.5);
}

.row_Warning {
  background-color: rgb(236, 137, 83, 0.5);
}

.row_Open {
  background-color: rgb(51, 197, 246, 0.5);
}

.row_Irrelevant {
  background-color: rgb(245, 245, 245, 0.5);
}
