.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  list-style-type: none;
  text-transform: uppercase;
}

.element {
  margin: 10px 25px 10px 25px;
}

.card {
  display: grid;
  min-height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 60px;
  gap: 10px 10px;
  place-items: center;
}

.header {
  margin-left: 50px;
  margin: 10px 10px 10px 60px;
  display: grid;
  grid-template-columns: 1fr 50px;
  width: calc(100% - 50px);
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 20px;
  text-align: center;
}

.small_btn {
  display: inline-block;
}

.description {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.rounded_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
