.toast__message {
  display: block;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  animation: fadein 0.5s;
  overflow-wrap: break-word;
  width: 300px;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
