.container {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 150px;

  z-index: 800;

  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;

  gap: 5px;
  /* height: 100%; */
}
.hub_btn {
  list-style-type: none;
  background-color: white;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 2px;
  margin: 1px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.selected {
  background-color: lightblue;
}

.hub_btn:hover {
  background-color: lightblue;
}
