.parcel {
  fill: rgb(113, 11, 122);
  stroke: rgb(243, 52, 218);
}

.parcel:hover {
  fill: green;
  stroke: green;
}

.button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 800;
}
