.container {
  position: absolute;
  z-index: 800;
  top: 5%;
  /* max-height: 800px; */
  height: 90vh;
  left: 0;
  right: 0;
  background-color: rgb(224, 224, 224);
  margin-left: auto;
  margin-right: auto;
  width: 700px; /* Need a specific value to work */
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  border: 2px solid rgb(204, 204, 204);
  /* gap: 20px; */
  border-radius: 10px;
  place-items: center;
}

.pipe_list {
  list-style-type: none;
  width: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.list_element {
  /* margin: 5px; */
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 5px;
  height: 55px;
  width: 600px;
}

.button_close {
  margin-top: 30px;
  margin-left: auto;
}

.btn_container {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
